extends layout

block title
  title 懒货竞技场 | Lazy Fighters

block script
  //- Game libs
  script(src="/socket.io/socket.io.js")
  script(src="/js/lib/register-components.js")
  script(src="/js/lib/simple-date.js")
  //- Page Navigation
  script(src="/js/pager.js")
  //- Game Import
  script(src="/js/game/action.js")
  script(src="/js/game/character.js")
  script(src="/js/game/log.js")
  script(src="/js/game/map.js")
  script(src="/js/game/name.js")
  script(src="/js/game/progress.js")
  script(src="/js/game/update.js")
  script(src="/js/network/network.js")
  script(src="/js/core.js")

block content
  div.container
    include ./pager.jade
    div(id="game-page")
      include ./game-page/index
    div(id="character-page", style="display: none")
      include ./character-page/index
    div(id="network-page", style="display: none")
      include ./network-page/index
    div(id="about-page", style="display: none")
      include ./about-page/index
