extends layout

block title
  title 懒货竞技场 | Lazy Fighters

block script
  script(src='/socket.io/socket.io.js')
  script(src='/js/game.js')

block content
  div.container
    div.row
      div.col-sm-3
        include ./panels/net-panel
        include ./panels/character-panel
        include ./panels/position-panel
    div.row
      div.col-sm-12
        include ./panels/progress-panel
        include ./panels/action-panel
