extends layout

block title
  title 懒货竞技场 | Lazy Fighters

block script
  //- Game libs
  script(src="/socket.io/socket.io.js")
  script(src="/js/lib/register-components.js")
  script(src="/js/lib/simple-date.js")
  //- Page Navigation
  script(src="/js/pager.js")
  //- Game Import
  script(src="/js/keyMap.js")
  script(src="/js/game-client.js")
  script(src="/js/game-map.js")
  script(src="/js/game-name.js")
  script(src="/js/game-network.js")
  script(src="/js/game-action.js")
  script(src="/js/core.js")

block content
  div.container
    include ./pager.jade
    include ./game-page/index
    include ./network-page/index
