extends layout

block title
  title 懒货竞技场 | Lazy Fighters

block script
  script(src='/socket.io/socket.io.js')
  script(src="/js/keyMap.js")
  script(src='/js/game.js')

block content
  div.container
    div.row
      div.col-sm-6
        include ./panels/net-panel
        include ./panels/character-panel
        include ./panels/position-panel
        include ./panels/action-panel
        include ./panels/progress-panel
      div.col-sm-6
        include ./panels/map-panel
    div
      include ./panels/instruction-panel
