doctype html
html
  head
    meta(charset='utf-8')
    block title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block stylesheet
    script(src='/js/jquery-2.1.1.min.js')
    block script
  body
    block header
    block content
    block footer
