div.panel.panel-default
  div.panel-body
    ul.nav.nav-pills
      li.active(id="show-game")
        a(href="javascript:") 游戏
      li(id="show-character")
        a(href="javascript:") 角色
      li(id="show-network") 
        a(href="javascript:") 网络
      li(id="show-about").pull-right
        a(href="javascript:") 关于
