body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat-area {
  height: 300px;
  overflow: auto;
  padding: 15px
}

.btn-action {
  width: 20%;
  padding-top: 20%;
  padding-bottom: 0
}
