div(id = 'action-panel').panel.panel-primary
  div.panel-body
    div.col-sm-2
      button(id='action-attack').btn.btn-block.btn-primary 攻击
      p.btn.btn-block.btn-default.disabled A
    div.col-sm-2
      button(id="action-move").btn.btn-block.btn-primary 移动
      p.btn.btn-block.btn-default.disabled S
    
