div(id='attr-panel').panel.panel-primary
  div.panel-body
    p
      | hp: 
      span(id='hp')
      |  / 
      span(id='max-hp')
    p
      | ATK: 
      span(id='atk')
    p
      | SPD: 
      span(id='spd')
