div(id='attr-panel').panel.panel-primary
  div.panel-body
    p
      | hp: 
      span(id='hp')
      |  / 
      span(id='hp-max')
      |  (+
      span(id='hp-regen')
      | /s)
    p
      | Atk: 
      span(id='atk')
    p
      | Atk Speed: 
      span(id='atk-spd')
    p
      | Atk Cost: 
      span(id='atk-cost')
    p
      | Spd: 
      span(id='spd')
