div.panel.panel-default
  div.panel-heading 图例
  div.panel-body
    div.col-sm-2
      button.btn.btn-block 无
    div.col-sm-2
      button.btn.btn-block.btn-default 空地
    div.col-sm-2
      button.btn.btn-block.btn-success 你
    div.col-sm-2
      button.btn.btn-block.btn-info 选择的目标
    div.col-sm-2
      button.btn.btn-block.btn-danger 其他玩家
