div(id='position-panel').panel.panel-primary
  div.panel-body
    p 
      | x: 
      span(id='x')
    p
      | y: 
      span(id='y')
    p(id='move-status')
      | 剩余进度: 
      span(id='move-process')
      | %
