div(id='process-panel').panel.panel-primary
  div.panel-body
    div.col-sm-6
      | 当前动作: 
      span(id='action-detail')
    div(id='process-block', style='display: none').col-sm-6
      | 动作进度: 
      span(id='action-process')
