div(id='progress-panel').panel.panel-primary
  div.panel-body
    div.col-sm-4
      div 当前动作: 
      div(id='action-detail')
    div(id='progress-block', style='display: none').col-sm-8
      div 动作进度: 
      div(id="progress-bar", style="border:none; text-align: center; padding: 0;margin-bottom: 0").alert.alert-info
