div.panel.panel-default
  div.panel-heading 角色信息
  div.panel-body
    p
      | Hp Max:
      span(id="character-hp-max")
    p
      | Hp Regen:
      span(id="character-hp-regen")
      |  / s
    p
      | Atk: 
      span(id='character-atk')
    p
      | Atk Speed: 
      span(id='character-atk-spd')
    p
      | Atk Cost: 
      span(id='character-atk-cost')
    p
      | Move Speed: 
      span(id='character-mov-spd')
