div(id="attr-panel").panel.panel-primary
  div.panel-body
    p
      | hp: 
      span(id="hp")
      |  / 
      span(id="hp-max")
      |  (+
      span(id="hp-regen")
      | /s)
    p
      | mp:
      span(id="mp")
      |  /
      span(id="mp-max")
      |  (+
      span(id="mp-regen")
      | /s)
