div.row
  div.col-xs-4.col-sm-3
    include ./name-panel
    include ./character-panel
    include ./action-panel
    include ./progress-panel
  div.col-xs-8.col-sm-6
    include ./map-panel
  div.col-xs-12.col-sm-3
    include ./position-panel
    include ./log-panel
div
  include ./instruction-panel
